# SQL Complex Queries

<Img src="https://github.com/rhnyewale/DataQuest/blob/master/chinook%20database%20image.jpg?raw=true">

# Importance of Relational Databases:

* Standardization of data model: Once your data is transformed into the rows and columns format, your data is standardized and you can query it with SQL
__Flexibility in adding and altering tables: __Relational databases gives you flexibility to add tables, alter tables, add and remove data.
__Data Integrity: __Data Integrity is the backbone of using a relational database.
Standard Query Language (SQL): A standard language can be used to access the data with a predefined language.
Simplicity : Data is systematically stored and modeled in tabular format.
__Intuitive Organization: __The spreadsheet format is intuitive but intuitive to data modeling in relational databases.

Online Analytical Processing (OLAP):

Databases optimized for these workloads allow for complex analytical and ad hoc queries, including aggregations. These type of databases are optimized for reads.


How many shoes were sold in California

Online Transactional Processing (OLTP):

Databases optimized for these workloads allow for less complex queries in large volume. The types of queries for these databases are read, insert, update, and delete.


The key to remember the difference between OLAP and OLTP is analytics (A) vs transactions (T). If you want to get the price of a shoe then you are using OLTP (this has very little or no aggregations). If you want to know the total stock of shoes a particular store sold, then this requires using OLAP (since this will require aggregations).

Normalization: Reduce data redundancy and increase data integrity
Denormalization: Duplicate copies, must be done in read heavy workloads

## Objectives of Normal Form:
* To free the database from unwanted insertions, updates, & deletion dependencies
* To reduce the need for refactoring the database as new types of data are introduced
* To make the relational model more informative to users
* To make the database neutral to the query statistics


## How to reach First Normal Form (1NF):

Atomic values: each cell contains unique and single values
Be able to add data without altering tables
Separate different relations into different tables
Keep relationships between tables together with foreign keys
Second Normal Form (2NF):

Have reached 1NF
All columns in the table must rely on the Primary Key
Third Normal Form (3NF):
Must be in 2nd Normal Form
No transitive dependencies

Remember, transitive dependencies you are trying to maintain is that to get from A-> C, you want to avoid going through B.
When to use 3NF:

When you want to update data, we want to be able to do in just 1 place. We want to avoid updating the table in the Customers Detail table

In [1]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

In [3]:
#Python Libraries for Visualization
import sqlite3
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

 * sqlite:///chinook.db
Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

When constructing complex queries, it's useful to create an intermediate table to produce our final results. You can use subqueries to create these intermediate tables. Unfortunately, the way subqueries are written makes it harder to read— the person reading the query needs to find the subquery and read from the inside-out.

One way to alleviate this is to use a with clause. **WITH** clauses allow you to define one or more named subqueries before the start of the main query. The main query then refers to the subquery by it's alias name, just as if it's a table in the database.

The syntax for the WITH clause is relatively straight-forward.

WITH [alias_name] AS ([subquery])

SELECT [main_query]

In [5]:
%%sql
SELECT * FROM
    (
     SELECT
         t.name,
         ar.name artist,
         al.title album_name,
         mt.name media_type,
         g.name genre,
         t.milliseconds length_milliseconds
     FROM track t
     INNER JOIN media_type mt ON mt.media_type_id = t.media_type_id
     INNER JOIN genre g ON g.genre_id = t.genre_id
     INNER JOIN album al ON al.album_id = t.album_id
     INNER JOIN artist ar ON ar.artist_id = al.artist_id
    )
WHERE album_name = "Jagged Little Pill";

 * sqlite:///chinook.db
Done.

[('All I Really Want', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 284891),
 ('You Oughta Know', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 249234),
 ('Perfect', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 188133),
 ('Hand In My Pocket', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 221570),
 ('Right Through You', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 176117),
 ('Forgiven', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 300355),
 ('You Learn', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 239699),
 ('Head Over Feet', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 267493),
 ('Mary Jane', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 280607),
 ('Ironic', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 229825),
 ('Not The Doctor', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 227631),
 ('Wake Up', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 293485),
 ('You Oughta Know (Alternate)', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 491885)]

In [7]:
%%sql 
WITH track_info AS
    (                
     SELECT
         t.name,
         ar.name artist,
         al.title album_name,
         mt.name media_type,
         g.name genre,
         t.milliseconds length_milliseconds
     FROM track t
     INNER JOIN media_type mt ON mt.media_type_id = t.media_type_id
     INNER JOIN genre g ON g.genre_id = t.genre_id
     INNER JOIN album al ON al.album_id = t.album_id
     INNER JOIN artist ar ON ar.artist_id = al.artist_id
    )
SELECT * FROM track_info
WHERE album_name = "Jagged Little Pill";

 * sqlite:///chinook.db
Done.

[('All I Really Want', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 284891),
 ('You Oughta Know', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 249234),
 ('Perfect', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 188133),
 ('Hand In My Pocket', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 221570),
 ('Right Through You', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 176117),
 ('Forgiven', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 300355),
 ('You Learn', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 239699),
 ('Head Over Feet', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 267493),
 ('Mary Jane', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 280607),
 ('Ironic', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 229825),
 ('Not The Doctor', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 227631),
 ('Wake Up', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 293485),
 ('You Oughta Know (Alternate)', 'Alanis Morissette', 'Jagged Little Pill', 'MPEG audio file', 'Rock', 491885)]

Create a query that shows summary data for every playlist in the Chinook database:
Use a WITH clause to create a named subquery with the following info:
The unique ID for the playlist.
The name of the playlist.
The name of each track from the playlist.
The length of each track in seconds.

Your final table should have the following columns, in order:
playlist_id - the unique ID for the playlist.
playlist_name - The name of the playlist.
number_of_tracks - A count of the number of tracks in the playlist.
length_seconds - The sum of the length of the playlist in seconds. This column should be an integer.
The results should be sorted by playlist_id in ascending order.

In [10]:
%%sql 
WITH track_info
AS (SELECT  pl.playlist_id playlist_id,
            pl.name playlist_name,
            t.name track_name,
            (t.milliseconds/1000) length_seconds 
    FROM playlist pl
    LEFT JOIN playlist_track pt ON pt.playlist_id = pl.playlist_id
    LEFT JOIN track t ON t.track_id = pt.track_id)

SELECT playlist_id,
       playlist_name,
       COUNT(track_name) number_of_tracks,
       SUM(length_seconds) length_seconds
    FROM track_info
    GROUP BY 1,2

 * sqlite:///chinook.db
Done.

[(1, 'Music', 3290, 876049),
 (2, 'Movies', 0, None),
 (3, 'TV Shows', 213, 500987),
 (4, 'Audiobooks', 0, None),
 (5, '90’s Music', 1477, 397970),
 (6, 'Audiobooks', 0, None),
 (7, 'Movies', 0, None),
 (8, 'Music', 3290, 876049),
 (9, 'Music Videos', 1, 294),
 (10, 'TV Shows', 213, 500987),
 (11, 'Brazilian Music', 39, 9464),
 (12, 'Classical', 75, 21736),
 (13, 'Classical 101 - Deep Cuts', 25, 6742),
 (14, 'Classical 101 - Next Steps', 25, 7565),
 (15, 'Classical 101 - The Basics', 25, 7429),
 (16, 'Grunge', 15, 4114),
 (17, 'Heavy Metal Classic', 26, 8189),
 (18, 'On-The-Go 1', 1, 197)]

## View

When we use the WITH clause, we're creating a temporary named subquery that we can use only within that query. But what if we find ourselves using the same WITH with lots of different queries? It would be nice to permanently define a subquery that we can use again and again.

We do this by creating a **view**, which we can then use in all future queries. An easy way to think of this is the WITH clause creates a temporary view. The syntax for creating a view is:

CREATE VIEW database.view_name AS
SELECT * FROM database.table;
    
**If we wish to redefine a view, we first have to delete, or drop the existing view:**
DROP VIEW chinook.customer_2;

In [28]:
%%sql 
DROP VIEW customer_ft_90_dollars

 * sqlite:///chinook.db
Done.

[]

In [29]:
%%sql 

CREATE VIEW customer_ft_90_dollars AS
SELECT c.*
    FROM invoice i
    JOIN customer c ON i.customer_id = c.customer_id
    GROUP BY c.customer_id
    HAVING SUM(i.total) > 90;
    
SELECT * FROM customer_ft_90_dollars

 * sqlite:///chinook.db
Done.
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4),
 (6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5),
 (13, 'Fernanda', 'Ramos', None, 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', '+55 (61) 3363-5547', '+55 (61) 3363-7855', 'fernadaramos4@uol.com.br', 4),
 (17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', '+1 (425) 882-8080', '+1 (425) 882-8081', 'jacksmith@microsoft.com', 5),
 (20, 'Dan', 'Miller', None, '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', '+1 (650) 644-3358', None, 'dmiller@comcast.com', 4),
 (21, 'Kathy', 'Chase', None, '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', '+1 (775) 223-7665', None, 'kachase@hotmail.com', 5),
 (22, 'Heather', 'Leacock', None, '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', '+1 (407) 999-7788', None, 'hleacock@gmail.com', 4),
 (30, 'Edward', 'Francis', None, '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', '+1 (613) 234-3322', None, 'edfrancis@yachoo.ca', 3),
 (34, 'João', 'Fernandes', None, 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, '+351 (213) 466-111', None, 'jfernandes@yahoo.pt', 4),
 (37, 'Fynn', 'Zimmermann', None, 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', '+49 069 40598889', None, 'fzimmermann@yahoo.de', 3),
 (42, 'Wyatt', 'Girard', None, '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', '+33 05 56 96 96 96', None, 'wyatt.girard@yahoo.fr', 3),
 (46, 'Hugh', "O'Reilly", None, '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, '+353 01 6792424', None, 'hughoreilly@apple.ie', 3),
 (50, 'Enrique', 'Muñoz', None, 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', '+34 914 454 454', None, 'enrique_munoz@yahoo.es', 5),
 (53, 'Phil', 'Hughes', None, '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', '+44 020 7976 5722', None, 'phil.hughes@gmail.com', 3),
 (57, 'Luis', 'Rojas', None, 'Calle Lira, 198', 'Santiago', None, 'Chile', None, '+56 (0)2 635 4444', None, 'luisrojas@yahoo.cl', 5),
 (58, 'Manoj', 'Pareek', None, '12,Community Centre', 'Delhi', None, 'India', '110017', '+91 0124 39883988', None, 'manoj.pareek@rediff.com', 3)]

In [35]:
%%sql 
DROP VIEW customer_USA

 * sqlite:///chinook.db
Done.

[]

In [36]:
%%sql 

CREATE VIEW customer_USA AS
    SELECT * FROM customer
    WHERE country="USA";

 * sqlite:///chinook.db
Done.

[]

In [37]:
%%sql
SELECT * FROM customer_USA;

 * sqlite:///chinook.db
Done.

[(16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', '+1 (650) 253-0000', '+1 (650) 253-0000', 'fharris@google.com', 4),
 (17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', '+1 (425) 882-8080', '+1 (425) 882-8081', 'jacksmith@microsoft.com', 5),
 (18, 'Michelle', 'Brooks', None, '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', '+1 (212) 221-3546', '+1 (212) 221-4679', 'michelleb@aol.com', 3),
 (19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', '+1 (408) 996-1010', '+1 (408) 996-1011', 'tgoyer@apple.com', 3),
 (20, 'Dan', 'Miller', None, '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', '+1 (650) 644-3358', None, 'dmiller@comcast.com', 4),
 (21, 'Kathy', 'Chase', None, '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', '+1 (775) 223-7665', None, 'kachase@hotmail.com', 5),
 (22, 'Heather', 'Leacock', None, '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', '+1 (407) 999-7788', None, 'hleacock@gmail.com', 4),
 (23, 'John', 'Gordon', None, '69 Salem Street', 'Boston', 'MA', 'USA', '2113', '+1 (617) 522-1333', None, 'johngordon22@yahoo.com', 4),
 (24, 'Frank', 'Ralston', None, '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', '+1 (312) 332-3232', None, 'fralston@gmail.com', 3),
 (25, 'Victor', 'Stevens', None, '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', '+1 (608) 257-0597', None, 'vstevens@yahoo.com', 5),
 (26, 'Richard', 'Cunningham', None, '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', '+1 (817) 924-7272', None, 'ricunningham@hotmail.com', 4),
 (27, 'Patrick', 'Gray', None, '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', '+1 (520) 622-4200', None, 'patrick.gray@aol.com', 4),
 (28, 'Julia', 'Barnett', None, '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', '+1 (801) 531-7272', None, 'jubarnett@gmail.com', 5)]

## UNION

Where regular joins are used to join columns, the union operator is used to join rows from tables and/or views.

<Img src="https://github.com/rhnyewale/DataQuest/blob/master/UNION.jpg?raw=true">
    
The syntax for the union operator is composed of two or more SELECT statements:
    
[select_statement_one]
UNION
[select_statement_two]
    
Rather than using the ON keyword, the statements before and after UNION must have the same number of columns, with compatible types in order. Example, FLOAT and INT are compatible types, but FLOAT and TEXT are not).

In [40]:
%%sql
SELECT * from customer_usa

UNION

SELECT * from customer_ft_90_dollars;

 * sqlite:///chinook.db
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4),
 (6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5),
 (13, 'Fernanda', 'Ramos', None, 'Qe 7 Bloco G', 'Brasília', 'DF', 'Brazil', '71020-677', '+55 (61) 3363-5547', '+55 (61) 3363-7855', 'fernadaramos4@uol.com.br', 4),
 (16, 'Frank', 'Harris', 'Google Inc.', '1600 Amphitheatre Parkway', 'Mountain View', 'CA', 'USA', '94043-1351', '+1 (650) 253-0000', '+1 (650) 253-0000', 'fharris@google.com', 4),
 (17, 'Jack', 'Smith', 'Microsoft Corporation', '1 Microsoft Way', 'Redmond', 'WA', 'USA', '98052-8300', '+1 (425) 882-8080', '+1 (425) 882-8081', 'jacksmith@microsoft.com', 5),
 (18, 'Michelle', 'Brooks', None, '627 Broadway', 'New York', 'NY', 'USA', '10012-2612', '+1 (212) 221-3546', '+1 (212) 221-4679', 'michelleb@aol.com', 3),
 (19, 'Tim', 'Goyer', 'Apple Inc.', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', '+1 (408) 996-1010', '+1 (408) 996-1011', 'tgoyer@apple.com', 3),
 (20, 'Dan', 'Miller', None, '541 Del Medio Avenue', 'Mountain View', 'CA', 'USA', '94040-111', '+1 (650) 644-3358', None, 'dmiller@comcast.com', 4),
 (21, 'Kathy', 'Chase', None, '801 W 4th Street', 'Reno', 'NV', 'USA', '89503', '+1 (775) 223-7665', None, 'kachase@hotmail.com', 5),
 (22, 'Heather', 'Leacock', None, '120 S Orange Ave', 'Orlando', 'FL', 'USA', '32801', '+1 (407) 999-7788', None, 'hleacock@gmail.com', 4),
 (23, 'John', 'Gordon', None, '69 Salem Street', 'Boston', 'MA', 'USA', '2113', '+1 (617) 522-1333', None, 'johngordon22@yahoo.com', 4),
 (24, 'Frank', 'Ralston', None, '162 E Superior Street', 'Chicago', 'IL', 'USA', '60611', '+1 (312) 332-3232', None, 'fralston@gmail.com', 3),
 (25, 'Victor', 'Stevens', None, '319 N. Frances Street', 'Madison', 'WI', 'USA', '53703', '+1 (608) 257-0597', None, 'vstevens@yahoo.com', 5),
 (26, 'Richard', 'Cunningham', None, '2211 W Berry Street', 'Fort Worth', 'TX', 'USA', '76110', '+1 (817) 924-7272', None, 'ricunningham@hotmail.com', 4),
 (27, 'Patrick', 'Gray', None, '1033 N Park Ave', 'Tucson', 'AZ', 'USA', '85719', '+1 (520) 622-4200', None, 'patrick.gray@aol.com', 4),
 (28, 'Julia', 'Barnett', None, '302 S 700 E', 'Salt Lake City', 'UT', 'USA', '84102', '+1 (801) 531-7272', None, 'jubarnett@gmail.com', 5),
 (30, 'Edward', 'Francis', None, '230 Elgin Street', 'Ottawa', 'ON', 'Canada', 'K2P 1L7', '+1 (613) 234-3322', None, 'edfrancis@yachoo.ca', 3),
 (34, 'João', 'Fernandes', None, 'Rua da Assunção 53', 'Lisbon', None, 'Portugal', None, '+351 (213) 466-111', None, 'jfernandes@yahoo.pt', 4),
 (37, 'Fynn', 'Zimmermann', None, 'Berger Straße 10', 'Frankfurt', None, 'Germany', '60316', '+49 069 40598889', None, 'fzimmermann@yahoo.de', 3),
 (42, 'Wyatt', 'Girard', None, '9, Place Louis Barthou', 'Bordeaux', None, 'France', '33000', '+33 05 56 96 96 96', None, 'wyatt.girard@yahoo.fr', 3),
 (46, 'Hugh', "O'Reilly", None, '3 Chatham Street', 'Dublin', 'Dublin', 'Ireland', None, '+353 01 6792424', None, 'hughoreilly@apple.ie', 3),
 (50, 'Enrique', 'Muñoz', None, 'C/ San Bernardo 85', 'Madrid', None, 'Spain', '28015', '+34 914 454 454', None, 'enrique_munoz@yahoo.es', 5),
 (53, 'Phil', 'Hughes', None, '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', '+44 020 7976 5722', None, 'phil.hughes@gmail.com', 3),
 (57, 'Luis', 'Rojas', None, 'Calle Lira, 198', 'Santiago', None, 'Chile', None, '+56 (0)2 635 4444', None, 'luisrojas@yahoo.cl', 5),
 (58, 'Manoj', 'Pareek', None, '12,Community Centre', 'Delhi', None, 'India', '110017', '+91 0124 39883988', None, 'manoj.pareek@rediff.com', 3)]

* Customers who are in the USA or have spent more than $90
* Customers who are in the USA and have spent more than $90
* Customers who are in the USA and have not spent more than $90

We just successfully used UNION for the first, but what about the other two? There are two other operators that will help us with these - intersect and except. Combined, these three operators allow us to perform set operations in SQL. 

<Img src="https://github.com/rhnyewale/DataQuest/blob/master/union_intersect_except2.jpg?raw=true">